.MyContainer {
  width: "100%";
  height: "calc(100vh - 70px)";
  position: "relative";
  background-color: "#6b5b95";
}

.MyContainer::after {
  content: "";
  position: "absolute";
  background-color: "#6b5b95";
  clip-path: "polygon(0 0, 68% 0, 34% 100%, 0% 100%)";
}
