/* header icons */
.nav-icon .icon {
  display: flex;
  text-decoration: none;
  color: #000;
}

.nav-icon .icon i:hover {
  opacity: 0.5;
  transform: scale(1.1, 1.1);
}

.nav-icon .btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-icon .icon .badge-icon {
  font-size: 9px;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  margin-left: -1px;
  border-radius: 50%;
  text-align: center;
  background-color: crimson;
  color: #fff;
}

/* Posts */
.post-wrapper {
  width: 100%;
  margin: 50px 0;
}

.post-body {
  width: 50%;
  margin: auto;
}

.post-body .post-header {
  background-color: darkcyan;
  color: #fff;
  height: 40px;
  padding: 10px 0;
  border-radius: 4px 4px 0 0;
}

.post-body .post-text {
  width: 100%;
}

.post-body .post-text textarea {
  border-radius: 0 0 4px 4px;
}

/* view post div */

.viewpost-wrapper {
  margin: 100px auto;
  color: #000;
}

.main-viewpost {
  width: 50%;
  margin: auto;
}

.main-viewpost i {
  font-size: 20px;
}

.main-viewpost p {
}
